extends ../layout

block content

  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }

  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            img(src=apiOfferData.pictures[0].path srcset=apiOfferData.pictures[0].path alt=apiOfferData.title)
          .ticket__info
            h2.ticket__title #{apiOfferData.title}
            .ticket__header
              p.ticket__price
                span.js-sum #{apiOfferData.sum}
                |  ₽
              p.ticket__action #{`${apiOfferData.offerTypes.name === `offer` ? `Куплю` : `Продам`}`}
            .ticket__desc
              p #{apiOfferData.sentences}
            .ticket__data
              p
                b Дата добавления:
                span #{` ${formatDate(apiOfferData.createDate)}`}
              p
                b Автор:
                a(href='#') #{` ${apiOfferData.users.firstname} ${apiOfferData.users.lastname}`}
              p
                b Контакты:
                a(href=`mailto:${apiOfferData.users.email}`) #{` ${apiOfferData.users.email}`}
            ul.ticket__tags
              each category in apiOfferData.categories
                li
                  a.category-tile.category-tile--small(href='#')
                    span.category-tile__image
                      img(src=category.picture srcset=category.picture alt='Иконка категории')
                    span.category-tile__label #{category.name}
        .ticket__comments
          h2.ticket__subtitle Коментарии
          .ticket__comment-form
            form.form.comment-form(action='#' method='post')
              .comment-form__header
                a.comment-form__avatar.avatar(href='#')
                  img(src='/img/avatar.jpg' srcset='/img/avatar@2x.jpg 2x' alt='Аватар пользователя')
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='50') Нормальное вообще кресло! А как насч
                  label(for='comment-field') Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type='submit' disabled='') Отправить
          .ticket__comments-list
            ul.comments-list
              each comment in apiOfferData.comments
                li
                  .comment-card
                    .comment-card__header
                      a.comment-card__avatar.avatar(href='#')
                        img(src=comment.users.avatar srcset=comment.users.avatar alt='Аватар пользователя')
                      p.comment-card__author #{`${comment.users.firstname} ${comment.users.lastname}`}
                    .comment-card__content
                      p #{comment.text}
