extends ../layout.pug

block content
  main.page-content
    include ../partials/categories.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each apiOffer, index in apiOffersData
            li.tickets-list__item
              div(class=`ticket-card ticket-card--color${(index > 9) ? index : "0" + index}`)
                .ticket-card__img
                  img(src=`${apiOffer.pictures[0].path}` alt=apiOffer.title)
                .ticket-card__info
                  +ticketLabel(apiOffer.offerTypes.name)
                  .ticket-card__categories
                    each category in apiOffer.categories
                      a(href=`/offers/category/${category.id}`) #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`offers/${apiOffer.id}`) #{apiOffer.title}
                    p.ticket-card__price
                      span.js-sum #{apiOffer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{apiOffer.description}
  +pagination(page, totalPages, 2, `?`)
